# fly.toml app configuration file generated for tweet-automation-ai on 2025-12-01T23:03:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tweet-automation-ai'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
